.section-news{
  padding-top: 1px;
  padding-bottom: 50px;
  background-color: $_color-gray;
  line-height: 1.625;
  .news-inner{
    @include outer-container;
    padding: 0 20px;
    max-width: $max-width-news;
  }
  .post-meta{
    font-family: $oswaldnoto;
  }
  .post-list{
    >li{
      margin-bottom: 15px;
      @include clearfix;
      .post-meta{
        display: block;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 5px;
        @include media($s-screen) {
          width: 120px;
          float: left;
        }
      }
      .post-link{
        display: block;
        overflow: hidden;
        margin-bottom: 5px;
      }
      a{
        text-decoration: underline;
        &:hover{
          color: $_color-main;
          text-decoration: none;
        }
      }
    }
  }
}
.news-form{
  margin-top: 60px;
  text-align: center;
}
