article.page{
  font-family: $main-fontfamily;
  max-width: $news-screen;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  .page-title{
    margin-top: 65px;
    margin-bottom: 45px;
    font-size: 28px;
    color: $_color-main;
    text-align: center;
    line-height: 1.625;
    text-transform: uppercase;
    span{
      border-bottom: 4px solid $_color-main;
      padding-top: 3px;
      padding-bottom: 1px;
    }
  }
  p{
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 2;
  }
  img{
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
}
