article.post{
  font-family: $noto;
  max-width: $news-screen;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  .post-cat{
    font-family: $oswaldnoto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    color: $_color-main;
    text-align: center;
    line-height: 1.625;
    text-transform: uppercase;
    span{
      border-bottom: 2px solid $_color-main;
      padding-top: 3px;
      padding-bottom: 1px;
    }
  }
  .post-meta{
    font-family: $oswaldnoto;
    text-align: center;
    margin-bottom: 40px;
  }
  .post-thumbnail{
    margin-bottom: 40px;
    img{
      display: inline-block;
      max-width: 100%;
      height: auto;
    }
  }
  h1{
    font-family: $oswaldnoto;
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }

  $article-layout-grid: (
    columns: 1,
    gutter: 2rem,
  );

  $article-layout-grid--tablet-up: (
    columns: 2,
    gutter: 2rem,
    media: "(min-width: 768px)",
  );

  .profilearea{
    @include outer-container;
    margin-bottom: 70px;
    .col-left{
      margin-bottom: 20px;
      @include media($s-screen) {
        @include span-columns(5);
        @include omega(2n);
      }
    }
    .col-right{
      margin-bottom: 20px;
      @include media($s-screen) {
        @include span-columns(7);
        @include omega(2n);
      }
    }
  }
  .post-mb40{
    margin-bottom: 40px;
  }
  .post-googleform{
    width: 100%;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    iframe{
      width:100%;
      border:none;
      display:block;
    }
  }
}
