<footer class="footer">
  <div class="site-share">
    <ul class="share-links icon-share">
      <li class="facebook"><a href="https://www.facebook.com/sharer.php?u={{ '/' | prepend: site.url }}" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
      <li class="twitter"><a href="https://twitter.com/share?url={{ '/' | prepend: site.url }}&text={{ site.title }}&hashtags={{ site.twitter.hashtag }}&
        via={{ site.twitter.id }}" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <div class="text-center">
    <a href="{{ '/' | prepend: site.baseurl }}contact" class="button">お問い合わせ<i class="fa fa-angle-right" aria-hidden="true"></i></a>
  </div>
  <p class="copyright">&copy; DojoCon Japan 2017 実行委員会</p>
</footer>

<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}" type="text/javascript"></script>
</body>
</html>
