<section class="section-hero">
  <div id="hero" class="hero js-hero">
    <div class="hero-inner">
      <p class="coderdojo-logo"><img src="{{ '/assets/images/coderdojo-logo.svg' | prepend: site.baseurl }}" alt="CoderDojo"></p>
      <h1 class="dojocon-logo"><span class="js-dojocon-logo">DojoCon Japan 2017</span></h1>
      <p class="dojocon-copy js-dojocon-copy"><span class="noto">つながる</span>  Dojo to Dojo</p>
      <p class="dojocon-date"><span class="date">2017.11.4</span> <span class="weekday">(土)</span></p>
      <p class="dojocon-info"><a href="http://www.ritsumei.ac.jp/futureplaza/" target="_blank">立命館いばらきフューチャープラザ <br class="hidden-pc"> イベントホール</a><br>
      <span class="address">大阪府茨木市</span></p>
    </div>
    <ul class="teaser-action">
      <li><a href="{{ '/' | prepend: site.baseurl }}#supporter">スポンサー募集中！<br><i class="fa fa-chevron-down" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</section>
