  <section id="staff" class="section-staff">
    <div class="container">
      <h2><span>Staff</span></h2>
      <ul class="staff-members">
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
