  <section id="staff" class="section-staff">
    <div class="container">
      <h2><span>Staff</span></h2>
      <ul class="staff-members js-staff-members">
        <li>
          <a href="http://ht79.info/" target="_blank">
            <img src="{{ '/assets/images/staff-hosoya.jpg' | prepend: site.baseurl }}" alt="細谷崇のプロフィール画像">
            <span class="member-name">細谷崇</span>
          </a>
        </li><!--no19-->
        <li>
          <a href="http://kwaka1208.net/aboutme/" target="_blank">
            <img src="{{ '/assets/images/staff-wakabayashi.jpg' | prepend: site.baseurl }}" alt="若林健一のプロフィール画像">
            <span class="member-name">若林健一</span>
          </a>
        </li><!--no10-->
        <li>
          <a href="https://www.facebook.com/sugimisu" target="_blank">
            <img src="{{ '/assets/images/staff-nishimura.jpg' | prepend: site.baseurl }}" alt="西村美鈴のプロフィール画像">
            <span class="member-name">西村美鈴</span>
          </a>
        </li><!--no26-->
        <li>
          <a href="https://www.facebook.com/ippeisumida" target="_blank">
            <img src="{{ '/assets/images/staff-sumida.jpg' | prepend: site.baseurl }}" alt="角田一平のプロフィール画像">
            <span class="member-name">角田一平</span>
          </a>
        </li><!--no1-->
        <li>
          <a href="https://codingmania.net/" target="_blank">
            <img src="{{ '/assets/images/staff-sarakai.jpg' | prepend: site.baseurl }}" alt="皿海佳子のプロフィール画像">
            <span class="member-name">皿海佳子</span>
          </a>
        </li><!--no2-->
        <li>
          <a href="http://okhiroyuki.github.io/" target="_blank">
            <img src="{{ '/assets/images/staff-okada.jpg' | prepend: site.baseurl }}" alt="岡田裕行のプロフィール画像">
            <span class="member-name">岡田裕行</span>
          </a>
        </li><!--no3-->
        <li>
          <a href="https://twitter.com/yasulab" target="_blank">
            <img src="{{ '/assets/images/staff-yasukawa.jpg' | prepend: site.baseurl }}" alt="安川要平のプロフィール画像">
            <span class="member-name">安川要平</span>
          </a>
        </li><!--no4-->
        <li>
          <a href="https://www.facebook.com/sp8saki" target="_blank">
            <img src="{{ '/assets/images/staff-sakaihisanobu.jpg' | prepend: site.baseurl }}" alt="酒井 久伸のプロフィール画像">
            <span class="member-name">酒井久伸</span>
          </a>
        </li><!--no5-->
        <li>
          <a href="http://akarihonokani.com/" target="_blank">
            <img src="{{ '/assets/images/staff-doi.jpg' | prepend: site.baseurl }}" alt="土居安佳里のプロフィール画像">
            <span class="member-name">土居安佳里</span>
          </a>
        </li><!--no6-->
        <li>
          <a href="https://www.facebook.com/hit708" target="_blank">
            <img src="{{ '/assets/images/staff-dummy.png' | prepend: site.baseurl }}" alt="井上一のプロフィール画像">
            <span class="member-name">井上一</span>
          </a>
        </li><!--no7-->
        <li>
          <a href="https://www.facebook.com/terupyon" target="_blank">
            <img src="{{ '/assets/images/staff-terui.jpg' | prepend: site.baseurl }}" alt="照井晶子のプロフィール画像">
            <span class="member-name">照井晶子</span>
          </a>
        </li><!--no8-->
        <li>
          <a href="https://www.facebook.com/chiharu.nagatomi" target="_blank">
            <img src="{{ '/assets/images/staff-nagatomi.jpg' | prepend: site.baseurl }}" alt="ながとみ ちはるのプロフィール画像">
            <span class="member-name">ながとみちはる</span>
          </a>
        </li><!--no9-->
        <li>
          <a href="https://cybozulive.com/profile/windhole" target="_blank">
            <img src="{{ '/assets/images/staff-dummy.png' | prepend: site.baseurl }}" alt="風穴 江のプロフィール画像">
            <span class="member-name">風穴江</span>
          </a>
        </li><!--no11-->
        <li>
          <a href="https://www.facebook.com/sari.yamada.79" target="_blank">
            <img src="{{ '/assets/images/staff-yamada.jpg' | prepend: site.baseurl }}" alt="山田早里のプロフィール画像">
            <span class="member-name">山田早里</span>
          </a>
        </li><!--no12-->
        <li>
          <a href="https://www.facebook.com/sumio.nishioka" target="_blank">
            <img src="{{ '/assets/images/staff-nishioka.jpg' | prepend: site.baseurl }}" alt="西岡 純生のプロフィール画像">
            <span class="member-name">西岡純生</span>
          </a>
        </li><!--no13-->
        <li>
          <a href="https://www.facebook.com/yasushi.hamada.56" target="_blank">
            <img src="{{ '/assets/images/staff-dummy.png' | prepend: site.baseurl }}" alt="濱田康のプロフィール画像">
            <span class="member-name">濱田康</span>
          </a>
        </li><!--no14-->
        <li>
          <a href="https://www.facebook.com/hiroshi.ohno.3532" target="_blank">
            <img src="{{ '/assets/images/staff-oono.jpg' | prepend: site.baseurl }}" alt="大野啓のプロフィール画像">
            <span class="member-name">大野啓</span>
          </a>
        </li><!--no15-->
        <li>
          <a href="http://mymckok.tumblr.com/" target="_blank">
            <img src="{{ '/assets/images/staff-chikaoka.jpg' | prepend: site.baseurl }}" alt="近岡真由美のプロフィール画像">
            <span class="member-name">近岡真由美</span>
          </a>
        </li><!--no16-->
        <li>
          <a href="http://togazo.com/" target="_blank">
            <img src="{{ '/assets/images/staff-togazono.jpg' | prepend: site.baseurl }}" alt="とがぞののプロフィール画像">
            <span class="member-name">とがぞの</span>
          </a>
        </li><!--no17-->
        <li>
          <!-- <a href="#" target="_blank"> -->
            <img src="{{ '/assets/images/staff-shizuno.jpg' | prepend: site.baseurl }}" alt="静野文香のプロフィール画像">
            <span class="member-name">静野文香</span>
          <!-- </a> -->
        </li><!--no18-->
        <li>
          <a href="https://twitter.com/m_ando_japan" target="_blank">
            <img src="{{ '/assets/images/staff-ando.jpg' | prepend: site.baseurl }}" alt="安藤 光昭のプロフィール画像">
            <span class="member-name">安藤光昭</span>
          </a>
        </li><!--no20-->
        <li>
          <a href="https://www.facebook.com/miy.daisuke" target="_blank">
            <img src="{{ '/assets/images/staff-miyahara.png' | prepend: site.baseurl }}" alt="宮原大輔のプロフィール画像">
            <span class="member-name">宮原大輔</span>
          </a>
        </li><!--no21-->
        <li>
          <a href="http://mixsandwich.info/" target="_blank">
            <img src="{{ '/assets/images/staff-sakaiyosuke.jpg' | prepend: site.baseurl }}" alt="坂井陽介のプロフィール画像">
            <span class="member-name">坂井陽介</span>
          </a>
        </li><!--no22-->
        <li>
          <a href="https://www.facebook.com/yojiueno" target="_blank">
            <img src="{{ '/assets/images/staff-uenoyoji.jpg' | prepend: site.baseurl }}" alt="植野 洋二のプロフィール画像">
            <span class="member-name">植野洋二</span>
          </a>
        </li><!--no23-->
        <li>
          <a href="https://kozarusha.com/" target="_blank">
            <img src="{{ '/assets/images/staff-kodera.jpg' | prepend: site.baseurl }}" alt="小寺 順子のプロフィール画像">
            <span class="member-name">小寺順子</span>
          </a>
        </li><!--no24-->
        <li>
          <a href="http://ja.katzueno.com/about/" target="_blank">
            <img src="{{ '/assets/images/staff-uenokatz.jpg' | prepend: site.baseurl }}" alt="Katz Uenoのプロフィール画像">
            <span class="member-name">Katz Ueno</span>
          </a>
        </li><!--no25-->
        <li>
          <a href="https://www.facebook.com/masaki.ozawa" target="_blank">
            <img src="{{ '/assets/images/staff-ozawa.jpg' | prepend: site.baseurl }}" alt="小澤昌樹のプロフィール画像">
            <span class="member-name">小澤昌樹</span>
          </a>
        </li><!--no27-->
        <li>
          <a href="https://www.facebook.com/ikakenn" target="_blank">
            <img src="{{ '/assets/images/staff-igawa.jpg' | prepend: site.baseurl }}" alt="井川健一のプロフィール画像">
            <span class="member-name">井川健一</span>
          </a>
        </li><!--no28-->
        <li>
          <a href="https://www.facebook.com/horino.akiko" target="_blank">
            <img src="{{ '/assets/images/staff-horino.jpg' | prepend: site.baseurl }}" alt="堀野朗子のプロフィール画像">
            <span class="member-name">堀野朗子</span>
          </a>
        </li><!--no29-->
        <li>
          <a href="https://www.facebook.com/takako.oyama.39" target="_blank">
            <img src="{{ '/assets/images/staff-oyama.jpg' | prepend: site.baseurl }}" alt="尾山貴子のプロフィール画像">
            <span class="member-name">尾山貴子</span>
          </a>
        </li><!--no30-->
        <li>
          <a href="https://www.facebook.com/matsuura.eri.5" target="_blank">
            <img src="{{ '/assets/images/staff-matsuura.jpg' | prepend: site.baseurl }}" alt="松浦 絵里のプロフィール画像">
            <span class="member-name">松浦絵里</span>
          </a>
        </li><!--no31-->
        <li>
          <a href="https://www.facebook.com/kuniyuki.iizawa" target="_blank">
            <img src="{{ '/assets/images/staff-iizawa.jpg' | prepend: site.baseurl }}" alt="飯沢邦之のプロフィール画像">
            <span class="member-name">飯沢邦之</span>
          </a>
        </li><!--no32-->
        <li>
          <a href="https://www.facebook.com/tomoyuki.usuki.1" target="_blank">
            <img src="{{ '/assets/images/staff-dummy.png' | prepend: site.baseurl }}" alt="臼杵 友之のプロフィール画像">
            <span class="member-name">臼杵友之</span>
          </a>
        </li><!--no33-->
        <li>
          <a href="https://github.com/ogom" target="_blank">
            <img src="{{ '/assets/images/staff-ogomori.jpg' | prepend: site.baseurl }}" alt="おごもり たかしのプロフィール画像">
            <span class="member-name">おごもりたかし</span>
          </a>
        </li><!--no34-->
        <li>
          <a href="http://kiteretz.com/" target="_blank">
            <img src="{{ '/assets/images/staff-kite.jpg' | prepend: site.baseurl }}" alt="カイトのプロフィール画像">
            <span class="member-name">カイト</span>
          </a>
        </li><!--no35-->
        <li>
          <a href="https://www.facebook.com/shingo.noguchi.39" target="_blank">
            <img src="{{ '/assets/images/staff-noguchi.jpg' | prepend: site.baseurl }}" alt="野口　真吾のプロフィール画像">
            <span class="member-name">野口真吾</span>
          </a>
        </li><!--no36-->
        <li>
          <a href="https://www.facebook.com/atushi.sugiyama.5" target="_blank">
            <img src="{{ '/assets/images/staff-sugiyama.jpg' | prepend: site.baseurl }}" alt="杉山敦のプロフィール画像">
            <span class="member-name">杉山敦</span>
          </a>
        </li><!--no37-->
        <li>
          <a href="http://michie-yamamoto.com" target="_blank">
            <img src="{{ '/assets/images/staff-yamamoto.jpg' | prepend: site.baseurl }}" alt="山本倫江のプロフィール画像">
            <span class="member-name">山本倫江</span>
          </a>
        </li><!--no38-->
        <li>
          <a href="https://idw.jp" target="_blank">
            <img src="{{ '/assets/images/staff-dummy.png' | prepend: site.baseurl }}" alt="五十嵐武志のプロフィール画像">
            <span class="member-name">五十嵐武志</span>
          </a>
        </li><!--no39-->
        <li>
          <a href="http://glow-inc.biz" target="_blank">
            <img src="{{ '/assets/images/staff-kawabata.jpg' | prepend: site.baseurl }}" alt="川端 善行のプロフィール画像">
            <span class="member-name">川端善行</span>
          </a>
        </li><!--no40-->
        <li>
          <a href="https://www.facebook.com/naoki.ohashi.92" target="_blank">
            <img src="{{ '/assets/images/staff-dummy.png' | prepend: site.baseurl }}" alt="大橋 直記のプロフィール画像">
            <span class="member-name">大橋直記</span>
          </a>
        </li><!--no42-->
      </ul>
    </div>
  </section>
