---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-cat"><span>News</span></p>
    {% if page.titlebr %}
      <h1 class="post-title" itemprop="name headline">{{ page.titlebr }}</h1>
    {% else %}
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    {% endif %}
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y.%m.%d" }}</time></p>
    {% if page.mainimage %}
      <p class="post-thumbnail"><img src="{{ page.mainimage | prepend: site.baseurl }}" alt="{{ page.title }}"></p>
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
